h1 {
	text-align: center;
	padding: 20px;
}

p {
	margin: 20px;
	padding: 20px;
}

#about {
	background-color: red;
	color: #FFF;
}

#hobbies {
}

#colors {
	background-color: blue;
}

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://25.media.tumblr.com/tumblr_m5mslyVMOK1qjc1a7o1_500.jpg) no-repeat;
	margin: auto;
}